In [30]:
import pandas as pd

df = pd.read_excel('ATM022019CE27C7C3D4DE4DBEB164F19A20F0A7AC.XLSX')

# Preview of the raw dataset

df

,Unnamed: 0,ATM & Card Statistics for February 2019,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,Sr. No.,Bank Name,ATMs,NaN,POS,NaN,Credit Cards,NaN,NaN,NaN,NaN,Debit Cards,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,On-site,Off-site,On-line,Off-line,No .of outstanding cards as at the end of the ...,No. of Transactions (Actuals),NaN,Amount of transactions\n(Rs. Millions),NaN,No .of outstanding cards as at the end of the ...,No. of Transactions\n(Actuals),NaN,Amount of transactions\n(Rs. Millions),NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ATM,POS,ATM,POS,NaN,ATM,POS,ATM,POS
3,NaN,NaN,NaN,1,2,3,4,5,6,7,8,9,10,11,12,13,14
4,NaN,1,ALLAHABAD BANK,631,200,3176,0,0,0,0,0,0,6049046,8736133,2893368,20881.7,2870.78
5,NaN,2,ANDHRA BANK,3025,773,15895,0,297282,14808,523048,74.0175,1288.08,28048189,9846798,5858733,32749,7162.4
6,NaN,3,BANK OF BARODA,6430,3247,51960,0,216885,8515,526791,32.4381,1156.38,59918420,19719888,10904078,84197,12860.4
7,NaN,4,BANK OF INDIA,2596,3558,64884,0,184049,22048,287734,122.536,716.957,59139931,34343155,8217880,63170.7,8315.94
8,NaN,5,BANK OF MAHARASHTRA,1314,556,3105,0,0,0,0,0,0,5085031,6772706,3983391,24071.3,2867.23
9,NaN,6,CANARA BANK,4769,4107,20800,0,356237,42990,588560,222.797,1196.05,36820396,20462769,10170485,86751.7,12766.8
10,NaN,7,CENTRAL BANK OF INDIA,3081,1086,3379,0,93220,2187,142782,9.47301,313.726,18976200,10239076,5238091,41314.9,6080.26
11,NaN,8,CORPORATION BANK,2359,658,161588,0,110149,1826,135947,8.75051,323.049,13024108,6659907,3533072,27109.5,4114.45
12,NaN,9,DENA BANK,1221,292,5342,0,0,0,0,0,0,5401680,2967788,1680293,7705.13,2153.92
13,NaN,10,INDIAN BANK,3135,740,10591,0,87102,2656,123776,15.2,264.4,18579046,34072269,6063928,60591.8,6508.2
14,NaN,11,INDIAN OVERSEAS BANK,2946,511,19750,0,57753,851,82894,3.24881,162.039,16279422,12500117,4249000,51104.1,5590.11
15,NaN,12,ORIENTAL BANK OF COMMERCE,2342,283,8408,0,0,0,0,0,0,11067454,5097189,3172071,22382,3702.7
16,NaN,13,PUNJAB AND SIND BANK,1154,48,1066,0,0,0,0,0,0,2025337,1249067,327481,5210.24,558.26
17,NaN,14,PUNJAB NATIONAL BANK,5332,3919,63465,0,333089,7410,558175,33.4946,1180.25,72673656,21710308,11828088,97235.3,15912
18,NaN,15,SYNDICATE BANK,4096,404,7633,0,45866,2516,149408,10.6686,342.523,7707066,8726239,4575416,34835.1,5141.16
19,NaN,16,UCO BANK,2149,377,4622,0,0,0,0,0,0,6587667,5544454,2799480,21743.5,3432.04
20,NaN,17,UNION BANK OF INDIA,3831,2748,50692,0,46567,3612,192100,18.2644,485.543,16180686,27121255,4217910,76017,5865.98
21,NaN,18,UNITED BANK OF INDIA,1028,1049,5061,0,7431,223,7046,0.9133,15.1761,8001693,6632823,1772468,24769.1,2230.61
22,NaN,19,VIJAYA BANK,1686,478,7586,0,64797,12470,117462,57.938,329.23,5465550,5907789,2303340,19708.6,3057.65
23,NaN,20,IDBI LTD,2202,1503,33058,0,32653,966,116584,5.03677,278.415,12066447,8946831,5429599,39164.6,7082.6
24,NaN,21,STATE BANK OF INDIA,25560,32816,579508,0,7998808,135768,22340028,522.003,85528,326078311,401232064,98839407,998076,133179
25,NaN,22,AXIS BANK LTD,2033,10257,506161,0,5713303,89773,13573383,387.383,47298.8,23862171,26967163,25041308,135411,36671.2
26,NaN,23,BANDHAN BANK LTD,481,0,26045,0,0,0,0,0,0,2789018,1939588,795328,7188.66,1107.28
27,NaN,24,CATHOLIC SYRIAN BANK LTD,228,46,0,0,0,0,0,0,0,1345486,578900,198944,1890.33,285.497
28,NaN,25,CITY UNION BANK,969,679,10146,0,6580,548,19270,2.02587,52.7176,1773176,2321948,775969,10422.3,975.297
29,NaN,26,DCB BANK LTD,285,219,5191,0,79988,22898,135915,102.213,147.537,520071,524855,344508,2501.73,625.428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,NaN,54,JIO PAYMENTS BANK,0,0,0,0,0,0,0,0,0,0,0,0,0,0
58,NaN,55,NSDL PAYMENTS BANK,0,0,0,0,0,0,0,0,0,21,1,65,0.0005,0.0211867
59,NaN,56,PAYTM PAYMENTS BANK,1,0,3928,0,0,0,0,0,0,43079398,1240414,2623012,3381.01,1533.69
60,NaN,57,AU SMALL FINANCE BANK LIMITED,290,240,0,0,0,0,0,0,0,849129,563875,248631,2969.57,405.985
61,NaN,58,CAPITAL SMALL FINANCE BANK LIMITED,125,0,0,0,0,0,0,0,0,91181,93179,35829,295.148,56.5643
62,NaN,59,FINCARE SMALL FINANCE BANK LIMITED,68,0,0,0,0,0,0,0,0,1135349,503826,11869,2817.56,9.23
63,NaN,60,EQUITAS SMALL FINANCE BANK LIMITED,320,2,0,0,0,0,0,0,0,512806,836018,118720,2704.44,234.854
64,NaN,61,ESAF SMALL FINANCE BANK LIMITED,121,2,0,0,0,0,0,0,0,3058203,629051,51898,3736.3,39
65,NaN,62,JANA SMALL FINANCE BANK LIMITED,118,2,0,0,0,0,0,0,0,40620,76852,21553,216.598,17.8737
66,NaN,63,NORTH EAST SMALL FINANCE BANK LIMITED,0,0,0,0,0,0,0,0,0,44554,4102,993,14.0735,3.34603
67,NaN,64,SURYODAY SMALL FINANCE BANK LIMITED,24,1,0,0,0,0,0,0,0,13465,28267,6585,53.1276,7.52507
68,NaN,65,UJJIVAN SMALL FINANCE BANK LIMITED,379,3,0,0,0,0,0,0,0,2510357,2064077,219334,8154.92,185.137
69,NaN,66,UTKARSH SMALL FINANCE BANK LIMITED,80,36,0,0,0,0,0,0,0,152846,108119,35841,273.016,129.821
70,NaN,NaN,Total,106562,96280,3636851,0,46061631,792599,141336179,3700.44,484886,944545934,817915222,346481710,2.59431e+06,455089
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,Note: Data pertaining to Payments Banks and Sm...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,1,Number of ATM deployed on site by the bank.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,2,Number of ATM deployed off site by the bank.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,3,Number of POS deployed online by the bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,4,Number of POS deployed offline by the bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,5,Total number of credit cards issued outstandin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,6,Total number of financial transactions done by...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,7,Total number of financial transactions done by...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,8,Total value of financial transactions done by ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,9,Total value of financial transactions done by ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,10,Total number of debit cards issued outstanding...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,11,Total number of financial transactions done by...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,12,Total number of financial transactions done by...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,NaN,13,Total value of financial transactions done by ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,NaN,14,Total value of financial transactions done by ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Here, the column names are improperly stated, the useful data starts from the 5th row.

From the 70th row onwards, the column descriptions have been given and they need to be removed as well.

The column "Unnamed: 0" stores garbage data as in the excel file, the 1st row has been left blank.

The 2nd column "ATM & Card Statistics for February 2019" will also be removed as it stores the serial no. which isn't necessary here as an index is already provided by the pandas dataframe.

In [31]:
# Dropping the 1st 4 rows and all the rows 70th onwards

df = df.drop(df.index[[0,1,2,3]])
df = df.drop(df.index[66:])      # Here, 66 is used as 4 rows have already been removed.

# Dropping the columns

df = df.drop('Unnamed: 0', axis=1)
df = df.drop('ATM & Card Statistics for February 2019', axis=1)

In [32]:
df

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
4,ALLAHABAD BANK,631,200,3176,0,0,0,0,0,0,6049046,8736133,2893368,20881.7,2870.78
5,ANDHRA BANK,3025,773,15895,0,297282,14808,523048,74.0175,1288.08,28048189,9846798,5858733,32749,7162.4
6,BANK OF BARODA,6430,3247,51960,0,216885,8515,526791,32.4381,1156.38,59918420,19719888,10904078,84197,12860.4
7,BANK OF INDIA,2596,3558,64884,0,184049,22048,287734,122.536,716.957,59139931,34343155,8217880,63170.7,8315.94
8,BANK OF MAHARASHTRA,1314,556,3105,0,0,0,0,0,0,5085031,6772706,3983391,24071.3,2867.23
9,CANARA BANK,4769,4107,20800,0,356237,42990,588560,222.797,1196.05,36820396,20462769,10170485,86751.7,12766.8
10,CENTRAL BANK OF INDIA,3081,1086,3379,0,93220,2187,142782,9.47301,313.726,18976200,10239076,5238091,41314.9,6080.26
11,CORPORATION BANK,2359,658,161588,0,110149,1826,135947,8.75051,323.049,13024108,6659907,3533072,27109.5,4114.45
12,DENA BANK,1221,292,5342,0,0,0,0,0,0,5401680,2967788,1680293,7705.13,2153.92
13,INDIAN BANK,3135,740,10591,0,87102,2656,123776,15.2,264.4,18579046,34072269,6063928,60591.8,6508.2
14,INDIAN OVERSEAS BANK,2946,511,19750,0,57753,851,82894,3.24881,162.039,16279422,12500117,4249000,51104.1,5590.11
15,ORIENTAL BANK OF COMMERCE,2342,283,8408,0,0,0,0,0,0,11067454,5097189,3172071,22382,3702.7
16,PUNJAB AND SIND BANK,1154,48,1066,0,0,0,0,0,0,2025337,1249067,327481,5210.24,558.26
17,PUNJAB NATIONAL BANK,5332,3919,63465,0,333089,7410,558175,33.4946,1180.25,72673656,21710308,11828088,97235.3,15912
18,SYNDICATE BANK,4096,404,7633,0,45866,2516,149408,10.6686,342.523,7707066,8726239,4575416,34835.1,5141.16
19,UCO BANK,2149,377,4622,0,0,0,0,0,0,6587667,5544454,2799480,21743.5,3432.04
20,UNION BANK OF INDIA,3831,2748,50692,0,46567,3612,192100,18.2644,485.543,16180686,27121255,4217910,76017,5865.98
21,UNITED BANK OF INDIA,1028,1049,5061,0,7431,223,7046,0.9133,15.1761,8001693,6632823,1772468,24769.1,2230.61
22,VIJAYA BANK,1686,478,7586,0,64797,12470,117462,57.938,329.23,5465550,5907789,2303340,19708.6,3057.65
23,IDBI LTD,2202,1503,33058,0,32653,966,116584,5.03677,278.415,12066447,8946831,5429599,39164.6,7082.6
24,STATE BANK OF INDIA,25560,32816,579508,0,7998808,135768,22340028,522.003,85528,326078311,401232064,98839407,998076,133179
25,AXIS BANK LTD,2033,10257,506161,0,5713303,89773,13573383,387.383,47298.8,23862171,26967163,25041308,135411,36671.2
26,BANDHAN BANK LTD,481,0,26045,0,0,0,0,0,0,2789018,1939588,795328,7188.66,1107.28
27,CATHOLIC SYRIAN BANK LTD,228,46,0,0,0,0,0,0,0,1345486,578900,198944,1890.33,285.497
28,CITY UNION BANK,969,679,10146,0,6580,548,19270,2.02587,52.7176,1773176,2321948,775969,10422.3,975.297
29,DCB BANK LTD,285,219,5191,0,79988,22898,135915,102.213,147.537,520071,524855,344508,2501.73,625.428
30,DHANALAKSHMI BANK LTD,208,138,1162,0,6499,106,14776,0.391382,28.2944,414479,543745,218419,1658.04,290.887
31,FEDERAL BANK LTD,1179,489,9716,0,0,0,0,0,0,5480333,7455366,4050566,36918,5309.78
32,HDFC BANK LTD,5989,7043,471641,0,12489925,173007,38045263,999.705,134686,26658610,34783795,42658714,178058,58880.6
33,ICICI BANK LTD,5250,9711,384901,0,6428389,45973,19811181,160.271,54170.4,45283613,32065512,36192841,163381,50315.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,RATNAKAR BANK LIMITED,212,181,720721,0,1608371,72563,4133834,283.932,14193.9,956795,733867,509053,2529.43,609.659
41,SOUTH INDIAN BANK,728,599,11354,0,0,0,0,0,0,4400704,2844626,1763702,10845.1,2226.56
42,TAMILNAD MERCANTILE BANK LTD,472,680,4663,0,18253,2386,41790,10.1554,155.047,1352578,4474609,489313,18269.1,705.967
43,THE LAXMI VILAS BANK LTD,448,600,5399,0,0,0,0,0,0,1372534,887866,172958,3991.5,276.583
44,YES BANK LTD,901,459,112603,0,478305,6699,1378491,29.4563,3613.39,2394449,3069978,2937167,13443.9,4206.96
45,AMERICAN EXPRESS,0,0,42744,0,1430962,3182,6316008,22.6041,44819.6,0,0,0,0,0
46,BANK OF AMERICA,0,0,0,0,22349,139,60063,1.59745,552.516,0,0,0,0,0
47,BARCLAYS BANK PLC,0,0,0,0,0,0,0,0,0,2729,91,138,0.620901,0.46395
48,CITI BANK,47,483,34485,0,2709986,35217,17936326,204.837,40499.5,1615706,1952663,4973855,7870.03,8761.32
49,DBS BANK,7,27,0,0,0,0,0,0,0,2650262,942355,1338983,1893.09,922.697
50,DEUTSCHE BANK LTD,13,18,0,0,0,0,0,0,0,123540,104837,189502,496.742,289.983
51,HONGKONG AND SHANGHAI BKG CORPN,45,43,0,0,719754,4345,1856281,30.6645,5561.07,444949,324442,657099,7605.33,1259.48
52,STANDARD CHARTERED BANK LTD,100,130,0,0,1285186,5327,4120573,30.7662,9630.89,950079,1809144,2796424,5916.19,2979.56
53,ADITYA BIRLA IDEA PAYMENTS BANK,0,0,0,0,0,0,0,0,0,4661,0,3075,0,5.80122
54,AIRTEL PAYMENTS BANK,0,0,0,0,0,0,0,0,0,2793163,0,819088,0,522.765
55,FINO PAYMENTS BANK,0,0,0,0,0,0,0,0,0,387170,159668,70421,488.468,57.9894
56,INDIA POST PAYMENTS BANK,0,0,0,0,0,0,0,0,0,0,0,0,0,0
57,JIO PAYMENTS BANK,0,0,0,0,0,0,0,0,0,0,0,0,0,0
58,NSDL PAYMENTS BANK,0,0,0,0,0,0,0,0,0,21,1,65,0.0005,0.0211867
59,PAYTM PAYMENTS BANK,1,0,3928,0,0,0,0,0,0,43079398,1240414,2623012,3381.01,1533.69
60,AU SMALL FINANCE BANK LIMITED,290,240,0,0,0,0,0,0,0,849129,563875,248631,2969.57,405.985
61,CAPITAL SMALL FINANCE BANK LIMITED,125,0,0,0,0,0,0,0,0,91181,93179,35829,295.148,56.5643
62,FINCARE SMALL FINANCE BANK LIMITED,68,0,0,0,0,0,0,0,0,1135349,503826,11869,2817.56,9.23
63,EQUITAS SMALL FINANCE BANK LIMITED,320,2,0,0,0,0,0,0,0,512806,836018,118720,2704.44,234.854
64,ESAF SMALL FINANCE BANK LIMITED,121,2,0,0,0,0,0,0,0,3058203,629051,51898,3736.3,39
65,JANA SMALL FINANCE BANK LIMITED,118,2,0,0,0,0,0,0,0,40620,76852,21553,216.598,17.8737
66,NORTH EAST SMALL FINANCE BANK LIMITED,0,0,0,0,0,0,0,0,0,44554,4102,993,14.0735,3.34603
67,SURYODAY SMALL FINANCE BANK LIMITED,24,1,0,0,0,0,0,0,0,13465,28267,6585,53.1276,7.52507
68,UJJIVAN SMALL FINANCE BANK LIMITED,379,3,0,0,0,0,0,0,0,2510357,2064077,219334,8154.92,185.137
69,UTKARSH SMALL FINANCE BANK LIMITED,80,36,0,0,0,0,0,0,0,152846,108119,35841,273.016,129.821

The dataframe looks much better. But the columns aren't named and the index seems to starts from 4 rather than 0.

In [33]:
# Index runs from 0 to 66

df.index = range(0, 66)

#Columns are named

columns = ['Bank Name', 'ATMs Onsite', 'ATMs Offsite', 'POS Online', 'POS Offline', 'Credits cards outstanding at the end of the month', 'CC No. of transactions ATM',
           'CC No. of transactions POS', 'CC Amount of transactions ATM', 'CC Amount of transactions POS', 'Debits cards outstanding at the end of the month', 'DC No. of transactions ATM', 'DC No. of transactions POS', 
           'DC Amount of transactions ATM', 'DC Amount of transactions POS']

df.columns = columns

In [21]:
df

,Bank Name,ATMs Onsite,ATMs Offsite,POS Online,POS Offline,Credits cards outstanding at the end of the month,CC No. of transactions ATM,CC No. of transactions POS,CC Amount of transactions ATM,CC Amount of transactions POS,Debits cards outstanding at the end of the month,DC No. of transactions ATM,DC No. of transactions POS,DC Amount of transactions ATM,DC Amount of transactions POS
0,ALLAHABAD BANK,631,200,3176,0,0,0,0,0,0,6049046,8736133,2893368,20881.7,2870.78
1,ANDHRA BANK,3025,773,15895,0,297282,14808,523048,74.0175,1288.08,28048189,9846798,5858733,32749,7162.4
2,BANK OF BARODA,6430,3247,51960,0,216885,8515,526791,32.4381,1156.38,59918420,19719888,10904078,84197,12860.4
3,BANK OF INDIA,2596,3558,64884,0,184049,22048,287734,122.536,716.957,59139931,34343155,8217880,63170.7,8315.94
4,BANK OF MAHARASHTRA,1314,556,3105,0,0,0,0,0,0,5085031,6772706,3983391,24071.3,2867.23
5,CANARA BANK,4769,4107,20800,0,356237,42990,588560,222.797,1196.05,36820396,20462769,10170485,86751.7,12766.8
6,CENTRAL BANK OF INDIA,3081,1086,3379,0,93220,2187,142782,9.47301,313.726,18976200,10239076,5238091,41314.9,6080.26
7,CORPORATION BANK,2359,658,161588,0,110149,1826,135947,8.75051,323.049,13024108,6659907,3533072,27109.5,4114.45
8,DENA BANK,1221,292,5342,0,0,0,0,0,0,5401680,2967788,1680293,7705.13,2153.92
9,INDIAN BANK,3135,740,10591,0,87102,2656,123776,15.2,264.4,18579046,34072269,6063928,60591.8,6508.2
10,INDIAN OVERSEAS BANK,2946,511,19750,0,57753,851,82894,3.24881,162.039,16279422,12500117,4249000,51104.1,5590.11
11,ORIENTAL BANK OF COMMERCE,2342,283,8408,0,0,0,0,0,0,11067454,5097189,3172071,22382,3702.7
12,PUNJAB AND SIND BANK,1154,48,1066,0,0,0,0,0,0,2025337,1249067,327481,5210.24,558.26
13,PUNJAB NATIONAL BANK,5332,3919,63465,0,333089,7410,558175,33.4946,1180.25,72673656,21710308,11828088,97235.3,15912
14,SYNDICATE BANK,4096,404,7633,0,45866,2516,149408,10.6686,342.523,7707066,8726239,4575416,34835.1,5141.16
15,UCO BANK,2149,377,4622,0,0,0,0,0,0,6587667,5544454,2799480,21743.5,3432.04
16,UNION BANK OF INDIA,3831,2748,50692,0,46567,3612,192100,18.2644,485.543,16180686,27121255,4217910,76017,5865.98
17,UNITED BANK OF INDIA,1028,1049,5061,0,7431,223,7046,0.9133,15.1761,8001693,6632823,1772468,24769.1,2230.61
18,VIJAYA BANK,1686,478,7586,0,64797,12470,117462,57.938,329.23,5465550,5907789,2303340,19708.6,3057.65
19,IDBI LTD,2202,1503,33058,0,32653,966,116584,5.03677,278.415,12066447,8946831,5429599,39164.6,7082.6
20,STATE BANK OF INDIA,25560,32816,579508,0,7998808,135768,22340028,522.003,85528,326078311,401232064,98839407,998076,133179
21,AXIS BANK LTD,2033,10257,506161,0,5713303,89773,13573383,387.383,47298.8,23862171,26967163,25041308,135411,36671.2
22,BANDHAN BANK LTD,481,0,26045,0,0,0,0,0,0,2789018,1939588,795328,7188.66,1107.28
23,CATHOLIC SYRIAN BANK LTD,228,46,0,0,0,0,0,0,0,1345486,578900,198944,1890.33,285.497
24,CITY UNION BANK,969,679,10146,0,6580,548,19270,2.02587,52.7176,1773176,2321948,775969,10422.3,975.297
25,DCB BANK LTD,285,219,5191,0,79988,22898,135915,102.213,147.537,520071,524855,344508,2501.73,625.428
26,DHANALAKSHMI BANK LTD,208,138,1162,0,6499,106,14776,0.391382,28.2944,414479,543745,218419,1658.04,290.887
27,FEDERAL BANK LTD,1179,489,9716,0,0,0,0,0,0,5480333,7455366,4050566,36918,5309.78
28,HDFC BANK LTD,5989,7043,471641,0,12489925,173007,38045263,999.705,134686,26658610,34783795,42658714,178058,58880.6
29,ICICI BANK LTD,5250,9711,384901,0,6428389,45973,19811181,160.271,54170.4,45283613,32065512,36192841,163381,50315.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,RATNAKAR BANK LIMITED,212,181,720721,0,1608371,72563,4133834,283.932,14193.9,956795,733867,509053,2529.43,609.659
37,SOUTH INDIAN BANK,728,599,11354,0,0,0,0,0,0,4400704,2844626,1763702,10845.1,2226.56
38,TAMILNAD MERCANTILE BANK LTD,472,680,4663,0,18253,2386,41790,10.1554,155.047,1352578,4474609,489313,18269.1,705.967
39,THE LAXMI VILAS BANK LTD,448,600,5399,0,0,0,0,0,0,1372534,887866,172958,3991.5,276.583
40,YES BANK LTD,901,459,112603,0,478305,6699,1378491,29.4563,3613.39,2394449,3069978,2937167,13443.9,4206.96
41,AMERICAN EXPRESS,0,0,42744,0,1430962,3182,6316008,22.6041,44819.6,0,0,0,0,0
42,BANK OF AMERICA,0,0,0,0,22349,139,60063,1.59745,552.516,0,0,0,0,0
43,BARCLAYS BANK PLC,0,0,0,0,0,0,0,0,0,2729,91,138,0.620901,0.46395
44,CITI BANK,47,483,34485,0,2709986,35217,17936326,204.837,40499.5,1615706,1952663,4973855,7870.03,8761.32
45,DBS BANK,7,27,0,0,0,0,0,0,0,2650262,942355,1338983,1893.09,922.697
46,DEUTSCHE BANK LTD,13,18,0,0,0,0,0,0,0,123540,104837,189502,496.742,289.983
47,HONGKONG AND SHANGHAI BKG CORPN,45,43,0,0,719754,4345,1856281,30.6645,5561.07,444949,324442,657099,7605.33,1259.48
48,STANDARD CHARTERED BANK LTD,100,130,0,0,1285186,5327,4120573,30.7662,9630.89,950079,1809144,2796424,5916.19,2979.56
49,ADITYA BIRLA IDEA PAYMENTS BANK,0,0,0,0,0,0,0,0,0,4661,0,3075,0,5.80122
50,AIRTEL PAYMENTS BANK,0,0,0,0,0,0,0,0,0,2793163,0,819088,0,522.765
51,FINO PAYMENTS BANK,0,0,0,0,0,0,0,0,0,387170,159668,70421,488.468,57.9894
52,INDIA POST PAYMENTS BANK,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53,JIO PAYMENTS BANK,0,0,0,0,0,0,0,0,0,0,0,0,0,0
54,NSDL PAYMENTS BANK,0,0,0,0,0,0,0,0,0,21,1,65,0.0005,0.0211867
55,PAYTM PAYMENTS BANK,1,0,3928,0,0,0,0,0,0,43079398,1240414,2623012,3381.01,1533.69
56,AU SMALL FINANCE BANK LIMITED,290,240,0,0,0,0,0,0,0,849129,563875,248631,2969.57,405.985
57,CAPITAL SMALL FINANCE BANK LIMITED,125,0,0,0,0,0,0,0,0,91181,93179,35829,295.148,56.5643
58,FINCARE SMALL FINANCE BANK LIMITED,68,0,0,0,0,0,0,0,0,1135349,503826,11869,2817.56,9.23
59,EQUITAS SMALL FINANCE BANK LIMITED,320,2,0,0,0,0,0,0,0,512806,836018,118720,2704.44,234.854
60,ESAF SMALL FINANCE BANK LIMITED,121,2,0,0,0,0,0,0,0,3058203,629051,51898,3736.3,39
61,JANA SMALL FINANCE BANK LIMITED,118,2,0,0,0,0,0,0,0,40620,76852,21553,216.598,17.8737
62,NORTH EAST SMALL FINANCE BANK LIMITED,0,0,0,0,0,0,0,0,0,44554,4102,993,14.0735,3.34603
63,SURYODAY SMALL FINANCE BANK LIMITED,24,1,0,0,0,0,0,0,0,13465,28267,6585,53.1276,7.52507
64,UJJIVAN SMALL FINANCE BANK LIMITED,379,3,0,0,0,0,0,0,0,2510357,2064077,219334,8154.92,185.137
65,UTKARSH SMALL FINANCE BANK LIMITED,80,36,0,0,0,0,0,0,0,152846,108119,35841,273.016,129.821

Now that the dataframe is in a proper format, the datatypes and missing values, if any, in the dataframe need to be checked.

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 15 columns):
Bank Name                                            66 non-null object
ATMs Onsite                                          66 non-null object
ATMs Offsite                                         66 non-null object
POS Online                                           66 non-null object
POS Offline                                          66 non-null object
Credits cards outstanding at the end of the month    66 non-null object
CC No. of transactions ATM                           66 non-null object
CC No. of transactions POS                           66 non-null object
CC Amount of transactions ATM                        66 non-null object
CC Amount of transactions POS                        66 non-null object
Debits cards outstanding at the end of the month     66 non-null object
DC No. of transactions ATM                           66 non-null object
DC No. of transactions POS                           66 non-null object
DC Amount of transactions ATM                        66 non-null object
DC Amount of transactions POS                        66 non-null object
dtypes: object(15)
memory usage: 7.8+ KB

There are no missing values, but all the integer columns are stored as objects.

In [34]:
# Converting all the columns storing integer data to integer format.

for i in df.columns[1:]:
    df[i] = df[i].astype(int)
    
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 15 columns):
Bank Name                                            66 non-null object
ATMs Onsite                                          66 non-null int64
ATMs Offsite                                         66 non-null int64
POS Online                                           66 non-null int64
POS Offline                                          66 non-null int64
Credits cards outstanding at the end of the month    66 non-null int64
CC No. of transactions ATM                           66 non-null int64
CC No. of transactions POS                           66 non-null int64
CC Amount of transactions ATM                        66 non-null int64
CC Amount of transactions POS                        66 non-null int64
Debits cards outstanding at the end of the month     66 non-null int64
DC No. of transactions ATM                           66 non-null int64
DC No. of transactions POS                           66 non-null int64
DC Amount of transactions ATM                        66 non-null int64
DC Amount of transactions POS                        66 non-null int64
dtypes: int64(14), object(1)
memory usage: 7.8+ KB

It's time to deal with the actual data stored in the dataframe.

In [35]:
df.describe()

,ATMs Onsite,ATMs Offsite,POS Online,POS Offline,Credits cards outstanding at the end of the month,CC No. of transactions ATM,CC No. of transactions POS,CC Amount of transactions ATM,CC Amount of transactions POS,Debits cards outstanding at the end of the month,DC No. of transactions ATM,DC No. of transactions POS,DC Amount of transactions ATM,DC Amount of transactions POS
count,66.000000,66.000000,66.000000,66.0,6.600000e+01,66.000000,6.600000e+01,66.000000,66.000000,6.600000e+01,6.600000e+01,6.600000e+01,66.000000,66.000000
mean,1614.575758,1458.787879,55103.803030,0.0,6.979035e+05,12009.075758,2.141457e+06,55.833333,7346.545455,1.431130e+07,1.239265e+07,5.249723e+06,39307.318182,6894.757576
std,3408.477680,4409.017300,144098.207071,0.0,2.081279e+06,30763.355760,6.391454e+06,151.550711,22088.645915,4.202572e+07,4.950162e+07,1.390102e+07,125612.540877,18913.669793
min,0.000000,0.000000,0.000000,0.0,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,71.000000,2.000000,0.000000,0.0,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,5.146222e+05,5.090832e+05,1.770940e+05,1890.750000,244.500000
50%,556.000000,287.500000,5126.000000,0.0,1.600000e+02,0.000000,4.550000e+01,0.000000,0.000000,2.791090e+06,2.217950e+06,1.509638e+06,8012.000000,1843.000000
75%,2120.000000,764.750000,23120.500000,0.0,1.724742e+05,6356.000000,2.643288e+05,29.750000,752.000000,1.181670e+07,7.959812e+06,4.176074e+06,30955.000000,5267.000000
max,25560.000000,32816.000000,720721.000000,0.0,1.248992e+07,173007.000000,3.804526e+07,999.000000,134686.000000,3.260783e+08,4.012321e+08,9.883941e+07,998075.000000,133178.000000

The data seems to be proper. 

All the columns have the minimum value 0 and the standard deviation is large almost everywhere. 

There is a lot of variation in the data, which might indicate the presence of outliers that affect the mean value. 

The column "POS Offline" has the value 0 everywhere. Point of Sale (POS) offline transactions  are the ones which take place in standalone mode without network (Internet) or cloud support. Such method of payment isn't popular in India and hence, the numbers can be considered genuine.

This column is dropped as it doesn't add much to the analysis.

N. B. - To know more about POS transactions, head to the README or https://en.wikipedia.org/wiki/Point_of_sale

In [36]:
df

,Bank Name,ATMs Onsite,ATMs Offsite,POS Online,POS Offline,Credits cards outstanding at the end of the month,CC No. of transactions ATM,CC No. of transactions POS,CC Amount of transactions ATM,CC Amount of transactions POS,Debits cards outstanding at the end of the month,DC No. of transactions ATM,DC No. of transactions POS,DC Amount of transactions ATM,DC Amount of transactions POS
0,ALLAHABAD BANK,631,200,3176,0,0,0,0,0,0,6049046,8736133,2893368,20881,2870
1,ANDHRA BANK,3025,773,15895,0,297282,14808,523048,74,1288,28048189,9846798,5858733,32749,7162
2,BANK OF BARODA,6430,3247,51960,0,216885,8515,526791,32,1156,59918420,19719888,10904078,84197,12860
3,BANK OF INDIA,2596,3558,64884,0,184049,22048,287734,122,716,59139931,34343155,8217880,63170,8315
4,BANK OF MAHARASHTRA,1314,556,3105,0,0,0,0,0,0,5085031,6772706,3983391,24071,2867
5,CANARA BANK,4769,4107,20800,0,356237,42990,588560,222,1196,36820396,20462769,10170485,86751,12766
6,CENTRAL BANK OF INDIA,3081,1086,3379,0,93220,2187,142782,9,313,18976200,10239076,5238091,41314,6080
7,CORPORATION BANK,2359,658,161588,0,110149,1826,135947,8,323,13024108,6659907,3533072,27109,4114
8,DENA BANK,1221,292,5342,0,0,0,0,0,0,5401680,2967788,1680293,7705,2153
9,INDIAN BANK,3135,740,10591,0,87102,2656,123776,15,264,18579046,34072269,6063928,60591,6508
10,INDIAN OVERSEAS BANK,2946,511,19750,0,57753,851,82894,3,162,16279422,12500117,4249000,51104,5590
11,ORIENTAL BANK OF COMMERCE,2342,283,8408,0,0,0,0,0,0,11067454,5097189,3172071,22382,3702
12,PUNJAB AND SIND BANK,1154,48,1066,0,0,0,0,0,0,2025337,1249067,327481,5210,558
13,PUNJAB NATIONAL BANK,5332,3919,63465,0,333089,7410,558175,33,1180,72673656,21710308,11828088,97235,15911
14,SYNDICATE BANK,4096,404,7633,0,45866,2516,149408,10,342,7707066,8726239,4575416,34835,5141
15,UCO BANK,2149,377,4622,0,0,0,0,0,0,6587667,5544454,2799480,21743,3432
16,UNION BANK OF INDIA,3831,2748,50692,0,46567,3612,192100,18,485,16180686,27121255,4217910,76017,5865
17,UNITED BANK OF INDIA,1028,1049,5061,0,7431,223,7046,0,15,8001693,6632823,1772468,24769,2230
18,VIJAYA BANK,1686,478,7586,0,64797,12470,117462,57,329,5465550,5907789,2303340,19708,3057
19,IDBI LTD,2202,1503,33058,0,32653,966,116584,5,278,12066447,8946831,5429599,39164,7082
20,STATE BANK OF INDIA,25560,32816,579508,0,7998808,135768,22340028,522,85527,326078311,401232064,98839407,998075,133178
21,AXIS BANK LTD,2033,10257,506161,0,5713303,89773,13573383,387,47298,23862171,26967163,25041308,135411,36671
22,BANDHAN BANK LTD,481,0,26045,0,0,0,0,0,0,2789018,1939588,795328,7188,1107
23,CATHOLIC SYRIAN BANK LTD,228,46,0,0,0,0,0,0,0,1345486,578900,198944,1890,285
24,CITY UNION BANK,969,679,10146,0,6580,548,19270,2,52,1773176,2321948,775969,10422,975
25,DCB BANK LTD,285,219,5191,0,79988,22898,135915,102,147,520071,524855,344508,2501,625
26,DHANALAKSHMI BANK LTD,208,138,1162,0,6499,106,14776,0,28,414479,543745,218419,1658,290
27,FEDERAL BANK LTD,1179,489,9716,0,0,0,0,0,0,5480333,7455366,4050566,36918,5309
28,HDFC BANK LTD,5989,7043,471641,0,12489925,173007,38045263,999,134686,26658610,34783795,42658714,178057,58880
29,ICICI BANK LTD,5250,9711,384901,0,6428389,45973,19811181,160,54170,45283613,32065512,36192841,163380,50315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,RATNAKAR BANK LIMITED,212,181,720721,0,1608371,72563,4133834,283,14193,956795,733867,509053,2529,609
37,SOUTH INDIAN BANK,728,599,11354,0,0,0,0,0,0,4400704,2844626,1763702,10845,2226
38,TAMILNAD MERCANTILE BANK LTD,472,680,4663,0,18253,2386,41790,10,155,1352578,4474609,489313,18269,705
39,THE LAXMI VILAS BANK LTD,448,600,5399,0,0,0,0,0,0,1372534,887866,172958,3991,276
40,YES BANK LTD,901,459,112603,0,478305,6699,1378491,29,3613,2394449,3069978,2937167,13443,4206
41,AMERICAN EXPRESS,0,0,42744,0,1430962,3182,6316008,22,44819,0,0,0,0,0
42,BANK OF AMERICA,0,0,0,0,22349,139,60063,1,552,0,0,0,0,0
43,BARCLAYS BANK PLC,0,0,0,0,0,0,0,0,0,2729,91,138,0,0
44,CITI BANK,47,483,34485,0,2709986,35217,17936326,204,40499,1615706,1952663,4973855,7870,8761
45,DBS BANK,7,27,0,0,0,0,0,0,0,2650262,942355,1338983,1893,922
46,DEUTSCHE BANK LTD,13,18,0,0,0,0,0,0,0,123540,104837,189502,496,289
47,HONGKONG AND SHANGHAI BKG CORPN,45,43,0,0,719754,4345,1856281,30,5561,444949,324442,657099,7605,1259
48,STANDARD CHARTERED BANK LTD,100,130,0,0,1285186,5327,4120573,30,9630,950079,1809144,2796424,5916,2979
49,ADITYA BIRLA IDEA PAYMENTS BANK,0,0,0,0,0,0,0,0,0,4661,0,3075,0,5
50,AIRTEL PAYMENTS BANK,0,0,0,0,0,0,0,0,0,2793163,0,819088,0,522
51,FINO PAYMENTS BANK,0,0,0,0,0,0,0,0,0,387170,159668,70421,488,57
52,INDIA POST PAYMENTS BANK,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53,JIO PAYMENTS BANK,0,0,0,0,0,0,0,0,0,0,0,0,0,0
54,NSDL PAYMENTS BANK,0,0,0,0,0,0,0,0,0,21,1,65,0,0
55,PAYTM PAYMENTS BANK,1,0,3928,0,0,0,0,0,0,43079398,1240414,2623012,3381,1533
56,AU SMALL FINANCE BANK LIMITED,290,240,0,0,0,0,0,0,0,849129,563875,248631,2969,405
57,CAPITAL SMALL FINANCE BANK LIMITED,125,0,0,0,0,0,0,0,0,91181,93179,35829,295,56
58,FINCARE SMALL FINANCE BANK LIMITED,68,0,0,0,0,0,0,0,0,1135349,503826,11869,2817,9
59,EQUITAS SMALL FINANCE BANK LIMITED,320,2,0,0,0,0,0,0,0,512806,836018,118720,2704,234
60,ESAF SMALL FINANCE BANK LIMITED,121,2,0,0,0,0,0,0,0,3058203,629051,51898,3736,39
61,JANA SMALL FINANCE BANK LIMITED,118,2,0,0,0,0,0,0,0,40620,76852,21553,216,17
62,NORTH EAST SMALL FINANCE BANK LIMITED,0,0,0,0,0,0,0,0,0,44554,4102,993,14,3
63,SURYODAY SMALL FINANCE BANK LIMITED,24,1,0,0,0,0,0,0,0,13465,28267,6585,53,7
64,UJJIVAN SMALL FINANCE BANK LIMITED,379,3,0,0,0,0,0,0,0,2510357,2064077,219334,8154,185
65,UTKARSH SMALL FINANCE BANK LIMITED,80,36,0,0,0,0,0,0,0,152846,108119,35841,273,129

The dataframe is cleaned and good to go. 

It is stored in a csv "February 19.csv" . 

The EDA has been done in the next notebook.

In [37]:
df.to_csv('February 19.csv')